<h1>Fluxo de caixa</h1>

<div class="dvCaixas">
  <div><br>
    Valor Total
    R$ 200
  </div>
  <div><br>
    Receitas
    R$ 200
  </div>
  <div><br>
    Despesas
    R$ 200
  </div>
</div>

<div class="dvBusca">
  <div>
    <form action="/" method="get">
      <input type="text" class="form-controll" placeholder="Digite algo" name="tipo">
      <button type="submit" class="btn btn-primary">Buscar</button>
    </form>
  </div>
  <div>
    <a href="/adicionar" class="btn btn-primary">Iniciar</a>
  </div>
</div>